    <%= javascript_pack_tag "slick" %>
    <div class="a">
        <div class="b"><img class="c" src="assets/image1.jpg"></div>
        <div class="b"><img class="c" src="assets/image2.jpg"></div>

    </div>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    